@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

label,
textarea,
input {
  width: 100%;
  display: block;
}
input {
  border-style: solid;
  border-width: 1px;
}
